/* General body styling */
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Styling for the grid container */
#gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border: 1px solid black;
}

/* Styling for individual grid squares */
.gridSquare {
  box-sizing: border-box;
  border: 1px solid #c4c4c4; /* Optional: Light border around each square */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Styling for the button */
.changeGridButton {
  background-color: rgb(235, 235, 235);
  color: black;
  border: 2px outset black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}